@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@import url("//fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans");


h1 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.5;
  color: #ad1d28;
  position: static;
}

ul li {
 font-family: 'Inconsolata', cursive;
  font-weight: 500;
  line-height: 1.5;
  color: black;
  position: static;
  font-size: 18px;

}

.skin-blue .sidebar-menu > li.active > a,.skin-blue .sidebar-menu > li:hover > a {
	color:#fff;
	background:#3c8dbc;
	border-left-color:#3c8dbc
}


h2 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.5;
  color: #ad1d28;
  position: relative;
  left: 15px
}


#container {
   font-size: 20px;
}

#warningsheat {
  background-color: #ecf0f5;
  border: 1px solid #ecf0f5;
}

p {
  /*
  font-family: 'Inconsolata', cursive;*/
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: black;
  position: static;

}


.skin-blue .main-header .logo {
  background-color:#1D4D68;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color:#1D4D68;
}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color:#1D4D68;
}
/*
#homepage .nav-tabs-custom>.tab-content{background:#fff;padding:10px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}*/
.nav-tabs-custom>.tab-content{background:#3c8dbc;padding:10px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}
#homepage .nav-tabs-custom>.tab-content{background:#fff;padding:10px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}
#upload .nav-tabs-custom>.tab-content{background:#fff;padding:10px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}
#ACP .nav-tabs-custom>.tab-content{background:#ecf0f5;padding:10px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}
#barplotvenn .élément {
    width: 100%;
    height: 30%;
}



#advancedjvenn .btn{
  border: none;
  outline: none;
  padding: 6px 11px;
  cursor: pointer;
  background-color: #337ab7;

}

#advancedjvenn .btn:hover .btn:active  {
  background-color: #666;
  color: white;
}

#advancedjvenn .activate, .btn:hover , .activated  {
  background-color: #666;
  color: white;
}


#advancedjvenn .btn:focus {
  outline: none;
}

#advancedjvenn .élément{
  color:black;
}


#advancedjvenn .active .btn-mini:hover .btn-mini:focus {
  background-color: #666;
  color: white;
}

#mytextvolc p{
font-weight: 700;
font-size: 14px;
 line-height: 1.5;
color: white;
position: static;
}

#mytextvolcgrep p{
font-weight: 700;
font-size: 14px;
 line-height: 1.5;
color: white;
position: static;
}



.nav-tabs-custom > .nav-tabs > li.active:hover > a, .nav-tabs-custom > .nav-tabs > li.active > a {
    background-color: #3c8dbc;
    color: #3c8dbc;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}



.shiny-output-error { visibility: visible;  color: orange; font-size: larger;}


.irs-bar { height: 8px; top: 25px; border-top: 1px solid #337ab7; border-bottom: 1px solid #337ab7; background: #337ab7; } .irs-bar-edge { height: 8px; top: 25px; width: 14px; border: 1px solid #337ab7; border-right: 0; background: #337ab7; border-radius: 16px 0 0 16px; -moz-border-radius: 16px 0 0 16px; }

.irs-max {
    color: #fff;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.irs-min {
    color: #fff;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.irs-grid-text {
    bottom: 5px;
    color: #fff;
}

.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
background-color: transparent;
border-color: transparent;
}

.nav-tabs-custom .nav-tabs li.active {
    border-top-color: #FFF;
}



div.outer {
     height: calc(100vh - 80px);
     padding: 0;
     margin: 0;
     min-height: 500px
}

@media all and (max-width:768px){

div.outer  {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}
}

#loading-content {
position: absolute;
background: #182b42;
opacity: 0.9;
z-index: 100;
left: 0;
right: 0;
top: 30px;
height: 100%;
text-align: center;
color: #FFFFFF;
}
#loading-content-bar {
position: absolute;
background: #182b42;
opacity: 0.9;
z-index: 100;
left: 0;
right: 0;
height: 100%;
text-align: center;
color: #FFFFFF;
}


.dt-button.buttons-columnVisibility {
    background: #FF0000 !important;
    color: white !important;
    opacity: 0.5;
}
.dt-button.buttons-columnVisibility.active {
    background: black !important;
    color: white !important;
    opacity: 1;
}


#Video {
	position: relative;
	padding-bottom: 100%; /* 16:9 */
	height: 0;
}

.iframe-box {
    max-width: 1280px; /* video width */
    max-height: 720px; /* video height */
}



.fittobox {                /* give fit to box an aspect ratio */
    display: inline-block; /* let it be styled thusly */
    padding: 0;            /* get rid of pre-styling */
    margin: 0;
    width: 100%;           /* take up full width available */
    padding-top: 56.25%;   /* give aspect ratio of 16:9; "720 / 1280 = 0.5625" */
    height: 0px;           /* don't want it to expand beyond padding */
    position: relative;    /* allow for absolute positioning of child elements */
}

.fittobox > iframe {
    position: absolute;    /* expand to fill */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

a.my-tool-tip, a.my-tool-tip:hover, a.my-tool-tip:visited {

    color: black;
}


.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }


.box.box-solid.box-primary > .box-header {
  color: #fff;
background: #337ab7;
    background-color: rgb(60, 141, 188);
background-color: #337ab7;
}

#stripbox .box{
  left:-2.4%;
}


#stripbox .box-header {text-align: center;}


